[tool.poetry]
name = "pynyaa"
version = "0.2.0"
description = "Turn nyaa.si torrent pages into neat Python objects"
authors = ["Raventric <78981416+Ravencentric@users.noreply.github.com>"]
license = "Unlicense"
readme = "README.md"
keywords = ["anime", "nyaa", "nyaa.si", "torrent", "python"]
packages = [{include = "pynyaa", from = "src"}]
homepage = "https://ravencentric.github.io/pynyaa"
repository = "https://github.com/Ravencentric/pynyaa"
documentation = "https://ravencentric.github.io/pynyaa"
classifiers = [
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">=3.9"
httpx = ">=0.27.0"
pydantic = ">=2.6.4"
beautifulsoup4 = ">=4.12.3"
lxml = ">=5.1.0"
hishel = ">=0.0.25"
torf = ">=4.2.6"
typing-extensions = ">=4.10.0"
platformdirs = ">=4.2.0"
strenum = { version = ">=0.4.15", python = "<3.11" }
importlib-metadata = { version = ">=7.1.0", python = "<3.10" }
eval-type-backport = { version = ">=0.1.3", python = "<3.10" }

[tool.poetry.group.dev.dependencies]
ruff = "^0.3.4"
mypy = "^1.9.0"
pytest = "^8.1.1"
pytest-asyncio = "^0.23.5.post1"
pre-commit = "^3.7.0"
types-beautifulsoup4 = "^4.12.0.20240229"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.5.15"
mkdocstrings = {extras = ["python"], version = "^0.24.0"}
mkdocs-autorefs = "^1.0.1"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["I"]
fixable = ["ALL"]

[tool.mypy]
strict = true
pretty = true

[[tool.mypy.overrides]]
module = ["torf"]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
