name: Tests

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'uv.lock'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/tests.yml'
      - 'src/**'
      - 'tests/**'
      - 'uv.lock'
  workflow_dispatch:
  workflow_call:


permissions:
  contents: read

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}

      - name: Run tests and generate coverage
        run: |
          uv sync --no-default-groups --group test
          uv run coverage run -m pytest -vv
          uv run coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          env_vars: OS,PYTHON
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
